

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,300');
body{
    overflow: hidden;
}
#menu ul{
    display: flex;
    justify-content: center;
}
#menu .nav-tabs{
    border-bottom: none;
}
#menu .nav-tabs li.active a{
    background-color: transparent;
    border-color: transparent;
}
#menu{
    z-index: 9999;
    position:fixed;
    bottom: 10%;
    font-family: 'Arima Madurai', cursive;
    font-size: 25px;
    text-align: center;
}
#menu li a:hover, #menu .nav li a:focus {
 background-color: transparent;
}
#menu li a:hover {
    border-color: transparent;
}
#menu li a{
    /* Safari */
    -webkit-transform: rotate(-45deg);

    /* Firefox */
    -moz-transform: rotate(-45deg);

    /* IE */
    -ms-transform: rotate(-45deg);
    
    /* Opera */
    -o-transform: rotate(-45deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    
}
#title{
    font-family: 'Arima Madurai', cursive;
     text-align: center;
}
.bordered{
    border: 1px solid black;
    min-width: calc(100vw - 60px);
    min-height: calc(100vh - 60px);
}
.page-section{
    position: fixed;
    padding: 30px;
    min-width: calc(100vw - 60px);
    min-height: calc(100vh - 60px);
}
.color-home, li.active>a.color-home,.color-home:focus{
    color: #EAD3CB;
}
.color-about, li.active>a.color-about,.color-about:focus{
    color: #FEC200;
}
.color-skills, li.active>a.color-skills,.color-skills:focus{
    color: #02C8C7;
}
.color-work, li.active>a.color-work,.color-work:focus{
    color: #C2D53E;
}
.color-contact, li.active>a.color-contact,.color-contact:focus{
    color: #C796CD;
}
.home-logo{
    padding-top: 7%;
    margin: 0 auto;
}
.home-text{
   font-family: 'Arima Madurai', cursive;  
}
.about-img{
    width: 20%;
    margin-left: 200px;
    margin-top: 50px;
}














